body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.h3 {
  max-width: 800px;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
footer{
  margin-top:30px;
  max-width: 800px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}



